.user-dashboard{
  display: flex;
  background-color:#fff;
}
.sidebar h3{
  margin: 1.4rem;
  font-weight: 500;
}
.sidebar li{
  padding: 1.5rem;
  
}
.sidebar ul li.active{
  background:#d6f7e4;
  color:#1b2e35;
}
.sidebar{
  position: fixed;
  width:13rem;
  height:100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color:#1b2e35;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.sidebar a{
  color:#ddd;
  text-decoration: none;
}
.sidebar ul{
  margin-top: 20%;
  list-style: none;
  color:#ddd;
}
/* For dashboard section */
.banner{
  width: 220vh;
  height:20vh;
  background:#d6f7e4;
}
.userdash-header i{
  font-size: 10rem;
  margin-left: 79%;
  margin-top: -5.5rem;
  color:#1b2e35;
}
.userdash-header h3{
  margin-left: 79%;
  margin-top: 0.5rem;
  color:#1b2e35;
  font-size: 2rem;
}
/* #user-profile{
  border-radius: 100%;
  width:13rem;
  margin-left: 80%;
  margin-top: -5rem;
} */
/* For service section */
.services-page-dash {
  margin-left: 16%;
  padding: 2rem;
  text-align: center;
}

.services-page-dash h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  margin-left: -75%;
  background: #5ae4a8;
  background: linear-gradient(to right, #1b2e35 0%, #3468a3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-grid-dash {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 1rem; /* Space between boxes */
  justify-items: center;
}
.worker-card{
  background-color:white;
  width:15rem;
  height: 17rem;
  padding: 10px;
  box-shadow: #d6f7e4 0px 3px 8px;
  margin: 1rem;
}
.worker-card i{
  font-size: 5rem;
  color:#d6f7e4;
  margin-bottom: 1rem;
}
.worker-card button{
  background-color: #5ae4a8;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 0.5rem;
}
.dropdowns{
  display: flex;
  position: absolute;
  margin-top: -5%;
  left:50%;
}
.dropdowns select{
  margin-right: 4rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color:#1b2e35;
  padding: 5px 10px;
  background-color:#d6f7e4;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.service-card-dash:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.service-card-dash h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background: #5ae4a8;
  background: linear-gradient(to right, #5ae4a8 0%, #3468a3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-card-dash p {
  margin-bottom: 1rem;
  color: #666;
}

.service-card-dash button {
  background-color:#2c3c42 ;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.service-card-dash button:hover {
  background-color:#5ae4a8;
}
.personal-details{
  background-color:#1b2e35;
  color:white;
  width:25%;
  height:55%;
  margin-left:70%;
  margin-top:1.5rem;
  padding: 1rem 0rem 0rem 2rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10%;

}
.personal-details h2{
  background: #5ae4a8;
  background: linear-gradient(to right, #5ae4a8 0%, #3468a3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1.5rem;
}
.personal-details input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.3rem;
  margin-left: 2rem;
  width:60%;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;

}
.personal-details textarea{
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.3rem;
  width: 12rem;
  height: 4rem;
  margin-left: 5rem;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;

}
.addr{
  margin-top: 1rem;
  position: absolute;
}
.personal-details button{
  background-color: #5ae4a8;
  border: none;
  outline: none;
  padding: 0.3rem;
  margin-top: 1rem;
  border-radius: 10px;
  justify-content: center;
  margin-left: 30%;
}





